#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(src/assets/background.png);
  background-attachment: fixed;
}

.main-wrapper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 100%);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* new css */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #111;
  padding: 2rem;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  position: relative;
  border-radius: 8px;
}

.modal-image {
  position: relative;
  max-height: 70vh;
  overflow: hidden;
}

.modal-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.blur-load {
  position: absolute;
  filter: blur(20px);
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.blur-load.hide {
  opacity: 0;
}

.high-res {
  position: relative;
  z-index: 2;
  display: block;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.art-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2rem;
}

.meta {
  color: white;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}